body {
  margin: 0px;
}

a {
  color:inherit;
  text-decoration:none;
  font-size:120%;
}

h1 {
  width: 50%;
  text-align: center;
  margin: 10px auto;
}

#nav-menu {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
  position:sticky
  top:0px;
}

.nav-div {
  text-align: center;
  flex-grow: 1;
  position:relative;
  top:0px;
}

.nav-div a {
  display: inline-block;
  width: 100%;
  padding:10px 0px 15px;
  background-color:pink;
}

.nav-div ul {
  display: none;
  position:absolute;
  background-color:pink;
  list-style-type:none;
  padding-left:0px;
  margin:0px;
  width:100%;
}

.nav-div:hover {
  font-weight:bold;
}

.nav-div:hover a {
  color:black;
  font-weight:bolder;
  background-color:lightgray;
}

.nav-spacer {
  flex-grow:0;
  width:0px;
  margin:0px;
  padding:0px;
  border:1px solid black;
}

.nav-div:hover ul {
  display:block;
}

.nav-div ul a:hover {
  background-color:gray
}
